<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-applozic"
    version="1.7.0"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns="http://www.phonegap.com/ns/plugins/1.0">

    <name>Applozic</name>
    <dependency id="cordova-plugin-androidx"/>
    <dependency id="cordova-plugin-androidx-adapter"/>

    <engines>
        <engine
        name="cordova"
        version=">=3.4.0" />
    </engines>

    <asset
    src="www/applozic.js"
    target="js/applozic.js" />

    <js-module
        name="applozic"
        src="www/applozic.js">
        <clobbers target="applozic" />
    </js-module>

    <platform name="android">

        <config-file
            parent="/*"
            target="res/xml/config.xml">
            <feature name="ApplozicCordovaPlugin">
                <param
                name="android-package"
                value="com.applozic.phonegap.ApplozicCordovaPlugin" />
            </feature>
        </config-file>

        <source-file
        src="src/android/ApplozicCordovaPlugin.java"
        target-dir="src/com/applozic/phonegap/" />
        <source-file
        src="src/android/FcmListenerService.java"
        target-dir="src/com/applozic/phonegap/notification" />
        <source-file
        src="src/android/GetMessageListTask.java"
        target-dir="src/com/applozic/phonegap/" />
        <source-file
        src="src/android/AlChannelInfoTask.java"
        target-dir="src/com/applozic/phonegap/" />
        <source-file
        src="src/android/MessageParamsModel.java"
        target-dir="src/com/applozic/phonegap/" />
        <source-file
        src="src/android/applozic-settings.json"
        target-dir="assets" />

        <framework
        custom="true"
        src="src/android/build.gradle"
        type="gradleReference" />

        <config-file
            parent="/manifest/application"
            target="AndroidManifest.xml">

            <!--  <meta-data android:name="com.applozic.application.key"
             android:value="applozic-sample-app" /> --> <!-- Applozic Application Key -->

            <!--  <meta-data android:name="com.applozic.mobicomkit.notification.smallIcon"
             android:resource="@mipmap/icon" /> --> <!-- Launcher white Icon -->

            <meta-data
            android:name="com.package.name"
            android:value="${applicationId}" />

            <meta-data
            android:name="main_folder_name"
            android:value="chat"
            tools:node="replace" /> <!-- Attachment Folder Name -->

            <activity
                android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
                android:label="@string/app_name"
                android:launchMode="singleTask"
                android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
                android:parentActivityName="MainActivity"
                android:theme="@style/ApplozicTheme"
                tools:node="replace">
                <!-- Parent activity meta-data to support API level 7+ -->
                <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
            </activity>

            <service android:name="com.applozic.phonegap.notification.FcmListenerService"
                android:exported="true"
                android:stopWithTask="false">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>
        </config-file>

    </platform>

    <platform name="ios">

        <podspec>
            <config>
              <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
              <pod name="Applozic" spec="~> 7.14.0"/>
            </pods>
          </podspec>

        <config-file
            parent="/widget"
            target="config.xml">
            <feature name="ApplozicCordovaPlugin">
                <param
                name="ios-package"
                value="ApplozicCordovaPlugin" />
            </feature>
        </config-file>

        <config-file
            parent="NSCameraUsageDescription"
            target="*-Info.plist">
            <string>Allow Camera</string>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
              <string>remote-notification</string>
            </array>
          </config-file>

        <config-file
            parent="NSPhotoLibraryAddUsageDescription"
            target="*-Info.plist">
            <string>Allow Write</string>
        </config-file>

        <config-file
            parent="NSContactsUsageDescription"
            target="*-Info.plist">
            <string>Allow Contacts</string>
        </config-file>

        <config-file
            parent="NSLocationWhenInUseUsageDescription"
            target="*-Info.plist">
            <string>Allow location sharing</string>
        </config-file>

        <config-file
            parent="NSMicrophoneUsageDescription"
            target="*-Info.plist">
            <string>Allow MicroPhone</string>
        </config-file>

        <config-file
            parent="NSPhotoLibraryUsageDescription"
            target="*-Info.plist">
            <string>Allow Photos</string>
        </config-file>

        <header-file
        src="src/ios/ApplozicCordovaPlugin.h"
        target-dir="ApplozicPlugin" />
        <source-file
        src="src/ios/ApplozicCordovaPlugin.m"
        target-dir="ApplozicPlugin" />

        <header-file
        src="src/ios/ALChatManager.h"
        target-dir="ApplozicPlugin" />
        <source-file
        src="src/ios/ALChatManager.m"
        target-dir="ApplozicPlugin" />
    </platform>

    <platform name="wp7">
        <source-file src="src/wp7/Applozic.cs" />
    </platform>

</plugin>
